In [3]:
import pandas as pd

In [11]:
df=pd.read_csv(r'c:\users\yusuf\Downloads\tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (2025.7.14)
Requirement already satisfied: charset-normalizer in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (3.10)
Collecting protobuf (from kaggle)
  Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (1.17.0)
Collecting text-unidecode (from kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\yusuf\pycharmmiscproject\.venv\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl (435 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, tqdm, python-slugify, protobuf, kaggle

   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   -------- ------------------------------- 1/5 [tqdm]
   ---------------- ----------------------- 2/5 [python-slugify]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   ------------------------ --------------- 3/5 [protobuf]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   -------------------------------- ------- 4/5 [kaggle]
   ---------------------------------------- 5/5 [kaggle]

Successfully installed kaggle-1.7.4.5 protobuf-6.31.1 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.67.1

In [1]:
import os

In [2]:
import shutil

In [6]:
source=r"C:\Users\yusuf\Downloads\kaggle.json"

In [8]:
destination=os.path.expanduser(r"~\kaggle\kaggle.json")

In [9]:
os.makedirs(os.path.dirname(destination),exist_ok=True)
shutil.move(source,destination)

'C:\\Users\\yusuf\\kaggle\\kaggle.json'

In [27]:
import zipfile
with zipfile.ZipFile("archive.zip","w") as zipn:
    zipn.extractall("archive")

In [26]:
import pandas as pd
df=pd.read_csv(r'C:\Users\yusuf\Downloads\tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S